body{
    margin: 0;
    padding: 0;
    background-size: cover;
}

.menu{
    border-bottom: 1.5px solid #ee1f1fef;
}

.header {
    height: 55px;
}

.a-clr{
    color: #dc3545 !important;
    font-size: 16px;
}

.konten{
    background-color: #162b45da;
    height: 520px;
}

.table-scroll{
    height: 400px;
    width: 100%;
	overflow-y: auto;
}

.bg-chart{
    background-color: rgba(255, 255, 255, 0.795) !important;
    height: 400px;
}

.surat-scroll{
    height: 490px;
    width: 100%;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.777) !important;
}

.form-control-surat {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0rem;
    color: #343a40;
    background-color: rgba(255, 255, 255, 0);
    background-clip: padding-box;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .form-control-tabel {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0rem;
    color: #343a40;
    background-color: rgba(255, 255, 255, 0);
    background-clip: padding-box;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
