body{
    margin: 0;
    padding: 0;
    background-size: cover;
}

.menu{
    border-bottom: 1.5px solid #ee1f1fef;
}

.header {
    height: 55px;
}

.a-clr{
    color: #dc3545 !important;
    font-size: 16px;
}

.konten{
    background-color: #162b45da;
    height: 520px;
}

.table-scroll{
    height: 400px;
    width: 100%;
	overflow-y: auto;
}

.bg-chart{
    background-color: rgba(255, 255, 255, 0.795) !important;
    height: 400px;
}

.surat-scroll{
    height: 490px;
    width: 100%;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.777) !important;
}

.form-control-surat {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0rem;
    color: #343a40;
    background-color: rgba(255, 255, 255, 0);
    background-clip: padding-box;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .form-control-tabel {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0rem;
    color: #343a40;
    background-color: rgba(255, 255, 255, 0);
    background-clip: padding-box;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  #panel-login{
    position: relative;
    top: 45px;
    right: 0;left: 0;
    width: 30%;
    height: 570px;
    margin: auto;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    text-align: center;
    background-color: rgba(48, 51, 58, 0.945);
    color: #fff;
    font-family: 'Century Gothic',sans-serif;
}

#panel-login h1{
    margin-top: 15px;
    font-size: 39px;
}

#panel-login h4{
    font-family: 'OpenSansCondensed';
    font-size: 24px;
}

.box-img{
    width: 147px;
    height: 147px;
}

.form-login {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin-top: 30px;
    margin-bottom: 45px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: 4.5px 15px 15px 2px rgb(27, 27, 27);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-login{
    width: 100%;
    border-radius: 5%;
    box-shadow: 4.5px 15px 15px 2px rgb(27, 27, 27);
    color: #fff;
    background-color: #1e2ace;
    border-color: #1e2ace;
    font-weight: lighter;
}

.btn2 {
    display: inline-block;
    font-weight: 400;
    color: #f6f7f8;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(30, 42, 206, 0.796);
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
